[Desktop Entry]
Type=Application
Name=osu!
MimeType=x-scheme-handler/osu;
Exec=/home/ryoshu/.local/bin/osu-wine --osuhandler %u
NoDisplay=true
StartupNotify=true
Icon=/home/ryoshu/.local/share/icons/osu-wine.png
